@model NewsLetterViewModel
@{
    ViewData["Title"] = "NewsLetter";
}


<div class="text-center">

    <img height="100" width="400" src="~/Content/Images/discount.png"/>
    <br />
    <h2>Zapisz się do Newslettera</h2>
    <h2>Nie przegap okazji!</h2>
    <br />

    <!-- Formularz kontaktowy -->
    @using (Html.BeginForm("NewsLetter", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <!--Nazwa-->
        <div class="form-horizontal">
            @Html.LabelFor(model => model.Username)
            <div>
                @Html.EditorFor(model => model.Username)
            </div>
        </div>

        <!--Email-->
        <div class="form-horizontal">
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        <br />

        <!--Potwierdzenie formularza-->
        <div class="form-group">

            <input type="submit" value="Zapisz się" class="btn btn-success" />

        </div>
    }

</div>
<br />
<br />
<br />
<div class="footer">
    Autor strony: Mateusz Bartkowiak &copy; 2020
</div>

